<% @eventful_places.each do |place| %>
  <div>
    <%= image_tag place.image %>
    <br>
    <%= place.name %>
    <br><br>
    <% if place.all_events.any? %>
      <span>Upcoming Events</span>
      <table class="table"  >
        <colgroup>
          <col style="width: 30%">
          <col style="width: 35%">
          <col style="width: 35%">
        </colgroup>
        <thead>
          <tr>
            <th>Event name</th>
            <th><%= Spree::EventfulEvent.human_attribute_name(:starts_at) %></th>
            <th><%= Spree::EventfulEvent.human_attribute_name(:ends_at) %></th>
          </tr>
        </thead>
        <tbody>
          <% place.all_events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.pretty_starts_at %></td>
              <td><%= event.pretty_ends_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
