<div data-hook="admin_eventful_event_form_fields">
  <div class="row">
    <div data-hook="admin_eventful_event_form_name_field" class="col-xs-12 col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.error_message_on :name %>
    </div>

    <div data-hook="admin_eventful_event_form_place_field" class="col-xs-12 col-md-4">
      <%= f.field_container :place_id, class: ['form-group'] do %>
        <%= f.label :place_id, Spree.t(:eventful_place) %>
        <%= f.collection_select :place_id,
                                Spree::EventfulPlace.order(:name),
                                :id,
                                :name,
                                { include_blank: Spree.t('match_choices.none') },
                                { class: 'select2' } %>
      <% end %>
    </div>

    <div data-hook="checkbox admin_eventful_event_form_global_field" class="col-xs-12 col-md-2">
      <%= f.field_container :global, class: ['form-group'] do %>
        <br />
        <%= f.label :global do %>
          <%= f.check_box :global %>
          <%= Spree.t(:global) %>
        <% end %>
      <% end %>
    </div>
    <%= f.error_message_on :global %>
  </div>

  <div class="row">
    <div id="starts_at_field" class="form-group col-xs-6 col-md-3">
      <%= f.label :starts_at %>
      <%= f.text_field :starts_at, class: 'form-control datetimepicker' %>
      <%= f.error_message_on :starts_at %>
    </div>

    <div id="ends_at_field" class="form-group col-xs-6 col-md-3">
      <%= f.label :ends_at %>
      <%= f.text_field :ends_at, class: 'form-control datetimepicker' %>
      <%= f.error_message_on :ends_at %>
    </div>

    <div data-hook="admin_eventful_event_form_image_field" class="col-xs-12 col-md-6">
      <% if f.object.image.present? %>
        <%= image_tag f.object.image.url(:mini) %>
      <% end %>
      <%= f.field_container :image, class: ['form-group'] do %>
        <%= f.label :image, Spree.t(:image) %>
        <%= f.file_field :image %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.field_container :description, class: ['form-group'] do %>
        <%= f.label :description, Spree.t(:description) %>
        <%= f.text_area :description, { rows: 6, class: 'form-control' } %>
        <%= f.error_message_on :description %>
      <% end %>
      <%= f.field_container :address, class: ['form-group'] do %>
        <%= f.label :address, Spree.t(:address) %>
        <%= f.text_area :address, { rows: 6, class: 'form-control' } %>
        <%= f.error_message_on :address %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= f.field_container :details, class: ['form-group'] do %>
        <%= f.label :details, Spree.t(:details) %>
        <%= f.text_area :details, { rows: 15, class: 'form-control' } %>
        <%= f.error_message_on :details %>
      <% end %>
    </div>
  </div>
</div>
